/*********************
Temporary measures
*********************/

*{/*
	border:2px solid red;*/
}



/********************
Styles/Fonts
********************/
html{
	height: 100%;
}

body{ 
	min-height:100%;
	font-size: 20px;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

header{
	font-size: 6vh;
	font-family: Fontdiner Swanky, sans-serif;
	font-weight: 400;
	width: 100%;
	padding: 1% 0%;
	margin: 0;
	border-bottom: 5px solid red;
	background-color: #FFC300;
	display: flex;
	justify-content: center;
}

#content{
	background-image: url(../images/atlantaBackground.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	flex: 1 0 auto;
}

.footer{
	height: 2.5vh;
	width: 100%;
	background: #BCBCBC;
	margin-top: auto;
}


/*****************************
Content/Styles
*****************************/
.navWrapper{
	justify-content:flex-end;
}

p{
	text-indent: 50px;
}

.tagline{
	font-size: 2.5vh;
	font-family: Open Sans, sans-serif;
	width: 100%;
	background: #BCBCBC;
	margin: 0;
	display: flex;
	justify-content: center;
}

.storyBox, .introBox {
	 width: 60%;
	 font-size: 1em;
	 border: 5px;
	 margin: 0 auto;
	 border-color: #000000;	 
	 padding: 5px;
	 display:flex;
	 flex-direction:column;
	 align-items: center;
}

.storyBox p, .introBox p {
	font-family: Open Sans, sans-serif;
	font-weight: 500;
	font-color: #000000;
	padding: 5px;
	border: solid black 2px;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 0 0 5px rgba(0,0,0,.75);
	margin-bottom: 8vh;
}

.optionA{
	font-family: Open Sans, sans-serif;
	font-weight: 400;
	font-size: 18px;
	font-style: italic;
	font-color: #000000;
	border: solid black 1px;
	background-color: rgba(118, 255, 191, 0.7);
	box-shadow: 0 0 5px rgba(0,0,0,.75);
	padding: 5px;
	margin-bottom: 3vh;
	display: none;
}

.optionB{
	font-family: Open Sans, sans-serif;
	font-weight: 400;
	font-size: 18px;
	font-style: italic;
	font-color: #000000;
	border: solid black 1px;
	background-color: rgba(118, 199, 255, 0.7);
	box-shadow: 0 0 5px rgba(0,0,0,.75);
	padding: 5px;
	margin-bottom: 3vh;
	display: none;
}

.choices{
	background-color: #FFC300;
	border:none;
	border-radius: 12px;
	color: gray;
	padding: 10px 24px;
	text-align: center;
	display: inline-block;
	font-family: Open Sans, Roboto Mono, sans-serif;
	font-weight: 400;
	font-size: 16px;
	cursor:pointer;

}


/******************
Buttons/images
******************/

img {
    max-width: 100%;
    max-height: 100%;
}

#startButton{
	height: 150px;
	width: 150px;
	display: flex;
	margin:0 auto;
	justify-content:center;
	align-self:center;
	cursor: pointer;
}

.buttons{
	display: flex;
	justify-content: space-around;
	visibility: hidden;
}

#buttonA{
	background-color: #76FFBF;
	border: 5px;
	border-radius: 15px;
	box-shadow: black 5px 5px;
	margin: 5px;
	padding: 5px;
	height: 75px;
	width: 75px;
	cursor: pointer;
}

#buttonB{
	background-color: #76c7ff;
	border: 5px;
	border-radius: 15px;
	box-shadow: black 5px 5px;
	margin: 5px;
	padding: 5px;
	height: 75px;
	width: 75px;
	cursor: pointer;
}

.roadSigns{
	background-color: none;
	margin-bottom: 5px;
	padding: 4px;
 	height: 120px;
    width: 100px;
    display: flex;
    justify-content:space-around;

}



/*****************
Loser page
*****************/

.lossWrapper{
	height: 170px;
	width: 170px;
}
.lossWrapper a{
	cursor: pointer;

}


/***************
Continue page
***************/

.resultWrapper{
	height: 170px;
	width: 170px;
}

.continueButton{
	cursor: pointer;
	height: 150px;
	width: 150px;
}


/*************************
Animations
*************************/

@keyframes lossPage{
	from {background-color: #FFC300;}
	to {background-color: red;}
}

/*Loser Pages*/
.headerAni{
	font-size: 6vh;
	font-family: Fontdiner Swanky, sans-serif;
	font-weight: 400;
	width: 100%;
	padding: 1% 0%;
	margin: 0;
	border-bottom: 5px solid red;
	background-color: #FFC300;
	display: flex;
	justify-content: center;

	animation-name: lossPage;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

/*page9*/
#page9{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#ufoDiv{
	display: none;
}

#continueUFO{
	display: flex;
	align-self: center;
	cursor: pointer;

}

/*#page5*/

#dogMeme {
	background-color: #e3e3e3;
	border: 3px;
	border-radius: 10px;
	box-shadow: 0 0 5px rgba(0,0,0,.75);
	margin: 2px;
	padding: 6px;
	height: 200px;
	width: 166px;
	display: none;
}

#buttonB5 {
	background-color: #76c7ff;
	border: 5px;
	border-radius: 15px;
	box-shadow: black 5px 5px;
	margin: 5px;
	padding: 5px;
	height: 75px;
	width: 75px;
	cursor: pointer;
}


/*
******************
Puzzle pg6
*******************/

#puzzleComplete {
	background-color: #FFC300;
	margin: 20;
	border:none;
	border-radius: 12px;
	color: gray;
	padding: 10px 24px;
	text-align: center;
	display: inline-block;
	font-family: Open Sans, Roboto Mono, sans-serif;
	font-weight: 400;
	font-size: 16px;
	cursor:pointer;

}


/**********************
Responsiveness (unable to remove 'position:absolute' property from puzzle frame)
**********************/

@media (max-width: 568px) {

header{
	font-size: 4vh;
}

.headerAni{
	font-size: 4vh;
}

.tagline{
	display: none;
}


.storyBox, .introBox {
	 width: 80%;
}

.storyBox p, .introBox p {
	font-size: .7em;

}

.optionA {
	font-size: .5em;
}

.optionB {
	font-size: .5em;
}

#startButton{
	height: 	100px;
	width: 		100px;
}


.lossWrapper{
	height: 170px;
	width: 170px;
}

.roadSigns{
 	height: 100px;
    width: 83px;

}

.continueButton, #continueUFO{
	height: 100px;
	width: 100px;
	margin:0 auto;
}

}



